<template>
	<section class="switcher">

		<Heading
			level="h3"
			modifiers="heading__subtitle"
		>
			Selecione uma moeda!
		</Heading>

		<b-form-group v-slot="{ ariaDescribedby }">
			<b-form-radio-group
				v-model="currencyType"
				:options="options"
				:aria-describedby="ariaDescribedby"
				name="radio-inline"
			/>
		</b-form-group>

	</section>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import Heading from '../base/Heading.component';

export default {
	name: 'SwitcherComponent',
	components: { Heading },
	data() {
		return {
			currencyType: 'dolar',
			options: [
				{ text: 'Dólar (USD)', value: 'dolar' },
				{ text: 'Euro (EUR)', value: 'euro' },
			]
		};
	},
	watch: {
		currencyType(value) {
			this.setCurrencyType(value);
			
			this.setCurrencyBRL(this.getCurrentCurrency);
		},
		currencies() {
			this.setCurrencyBRL(this.getCurrentCurrency);
		}
	},
	computed: {
		...mapState({
			currencies: ({ currencies }) => currencies
		}),
		getCurrentCurrency() {
			return this.currencyType === 'dolar'
				? this.currencies.dolar
				: this.currencies.euro;
		}
	},
	methods: {
		...mapMutations({
			setCurrencyType: 'setCurrencyType',
			setCurrencyBRL: 'setCurrencyBRL',
		}),
	},
};
</script>

<style lang="sass" scoped>
.switcher
	padding-bottom: 50px
</style>
