<template>
	<section class="calc">

		<SwitcherComponent />

		<div class="calc__total-v">

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Valor total
				</Heading>

			<div class="calc__total-v__value d-flex">

				<p class="calc__total-v__value__simbol">{{ changeSimbol }}</p> 
			
				<b-form-input 
					v-model="totalValue" 
					type="number"
					placeholder="0.00"
				/>

			</div>

		</div>

		<div class="calc__tip">

			<div class="d-flex calc__tip__head">

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Gorjeta:
				</Heading>

				<p class="calc__tip__head__value">
					{{ getPercentage(tip) }}%
				</p>

			</div>

			<b-form-input 
				v-model="tip" 
				id="range-1" 
				type="range" 
				min="0.10" 
				max="0.20" 
				step="0.01" 
			/>
		</div>

		<div class="calc__person">

			<div class="calc__person__head d-flex">

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Pessoas:
				</Heading>

				<p class="calc__person__head__value">
					{{ people }}
				</p>

			</div>

			<b-form-input
				v-model="people"
				id="range-1"
				type="range"
				min="2"
				max="16"
			/>

		</div>

	</section>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import { Heading, SwitcherComponent } from '@/components';

export default {
	name: 'CalcSection',
	components: { Heading, SwitcherComponent },
	data() {
		return {
			totalValue: null,
			people: 2,
			tip: 0.10,
		};
	},
	watch: {
		totalValue(value) {
			this.setTotalValue(value);
		},
		tip(value) {
			this.setTip(value);
		},
		people(value) {
			this.setPeople(value);
		}
	},
	computed: {
		...mapState({
			currencyType: ({ currencyType }) => currencyType,
		}),
		changeSimbol() {
			if (this.currencyType === 'dolar') {
				return '$';
			}

			return '€';
		}
	},
	methods: {
		...mapMutations({
			setPeople: 'setPeople',
			setTip: 'setTip',
			setTotalValue: 'setTotalValue'
		}),
		getPercentage(number) {
			return parseInt(number * 100).toFixed(0);
		}
	},
};
</script>

<style lang="sass" scoped>
.calc
	&__total-v
		padding-bottom: 50px 

		&__value
			align-items: center
			margin: auto

			&__simbol
				font-size: 23px
				margin: 0 5px 0 0

	&__tip
		padding-bottom: 50px

		&__head
			align-items: center

			&__value
				align-items: center
				font-family: Sacramento
				font-size: 23px
				margin: 0 auto 7px 10px

	&__person
		&__head
			align-items: center

			&__value
				align-items: center
				font-family: Sacramento
				font-size: 23px
				margin: 0 auto 7px 10px
</style>
