<template>
	<section class="results">

		<b-row class="results__row">

			<b-col sm="6" md="6" lg="6" class="mx-auto" >

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Conta
				</Heading>

				<div class="results__row__value">

					<p class="results__row__value__simbol">
						{{ changeSimbol }}
					</p>

					<p class="results__row__value__number">
						{{ (totalValue || 0).toFixed(2) }}
					</p>

				</div>

			</b-col>

			<b-col sm="6" md="6" lg="6" class="mx-auto" >

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Gorjeta
				</Heading>

				<div class="results__row__value">

					<p class="results__row__value__simbol">
						{{ changeSimbol }}
					</p>

					<p class="results__row__value__number">
						{{ getTotalTip }}
					</p>

				</div>

             </b-col>

        </b-row>

		<b-row class="results__row">
			<b-col sm="6" md="6" lg="6" class="mx-auto" >

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Total
				</Heading>

				<div class="results__row__value">

					<p class="results__row__value__simbol">
						{{ changeSimbol }}
					</p> 

					<p class="results__row__value__number">
						{{ getTotalAmount }}
					</p>

				</div>

			</b-col>

			<b-col sm="6" md="6" lg="6" class="mx-auto" >

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Total por pessoa
				</Heading>

				<div class="results__row__value">

					<p class="results__row__value__simbol">
						{{ changeSimbol }}
					</p>

					<p class="results__row__value__number">
						{{ getTotalPerPerson }}
					</p>

				</div>

			</b-col>

		</b-row>

		<b-row class="results__row">

			<b-col lg="12" class="mx-auto" >

				<Heading
					level="h2"
					modifiers="heading__subtitle"
				>
					Total por pessoa em R$
				</Heading>

				<div class="results__row__value">

					<p class="results__row__value__simbol">
						R$
					</p>

					<p class="results__row__value__number">
						{{ getTotalAmountInBRL }}
					</p>

				</div>

             </b-col>

        </b-row>

	</section>
</template>

<script>
import { mapState } from 'vuex';
import { Heading } from '@/components';

export default {
	name: 'ResultsSection',
	components: { Heading },
	computed: {
		...mapState({
			currencyBRL: ({ currencyBRL }) => currencyBRL,
			currencyType: ({ currencyType }) => currencyType,
			people: ({ people }) => people,
			tip: ({ tip }) => tip,
			totalValue: ({ totalValue }) => parseFloat(totalValue),
		}),
		changeSimbol() {
			if (this.currencyType === 'dolar') {
				return '$';
			} return '€';
		},
		getTotalTip() {
			return ((this.totalValue * this.tip) || 0).toFixed(2);
		},
		getTotalAmount() {
			return ((parseFloat(this.totalValue) + parseFloat(this.getTotalTip)) || 0).toFixed(2);
		},
		getTotalPerPerson() {
			return ((this.getTotalAmount / this.people) || 0).toFixed(2);
		},
		getTotalAmountInBRL() {
			return ((this.getTotalPerPerson * this.currencyBRL) || 0).toFixed(2);
		},
	},
};
</script>

<style lang="sass" scoped>
.results
	display: block
	position: fixed
	top: 200px
	width: 100%

	@media (min-width: $mobileBreakpoint)
		display: block
		position: initial
		width: auto

	&__row__value
		align-items: center
		display: flex
		width: 150px
		margin-bottom: 50px

		&__simbol
			font-size: 23px
			margin: 0

		&__number
			font-family: Sacramento
			font-size: 23px
			margin: 5px auto auto 10px
</style>
