<template>
	<header class="heading">
		<h1
			v-if="level === 'h1'"
			:class="[ modifiers ]"
		>
			<slot />
		</h1>

		<h2
			v-else-if="level === 'h2'" 
			:class="[ modifiers ]"
		>
			<slot />
		</h2>

		<h3
			v-else-if="level === 'h3'" 
			:class="[ modifiers ]"
		>
			<slot />
		</h3>

		<h4
			v-else-if="level === 'h4'" 
			:class="[ modifiers ]"
		>
			<slot />
		</h4>

		<h5
			v-else-if="level === 'h5'"
			:class="[ modifiers ]"
		>
			<slot />
		</h5>

		<h5
			v-else
			:class="[ modifiers ]"
		>
			<slot />
		</h5>
	</header>
</template>

<script>
export default {
	name: 'HeadingComponent',
	props: {
		level: String,
		modifiers: String,
	},
};
</script>

<style lang="sass" scoped>
.heading
	&__title
		background-color: transparent
		display: block
		font-family: Sacramento
		font-size: 60px
		overflow-y: hidden
		padding: 50px 0 50px
		text-align: center

	&__subtitle
		background-color: transparent
		display: block
		font-family: Sacramento
		font-size: 40px
		height: auto
		margin: 0
		overflow-y: hidden
		text-align: left

		@media (min-width: 425px)
			height: 60px
</style>
