<template>
	<section class="home">

		<Heading
			level="h1"
			modifiers="heading__title"
		>
			Le/Tip
		</Heading>

		<b-row>
			<b-col 
				:class="{ 'home__is-hidden': openResultsMobile }" 
				xs="12" sm="12" md="12" lg="6"
			>
				<CalcDataSection />

				<div class="home__calc__to-results">
					<button
						@click="resultsMobileToggle"
						class="home__calc__to-results__button"
					>
						<b-icon-chevron-right />
					</button>
				</div>

			</b-col>

			<b-col
				:class="{ 'home__is-hidden': !openResultsMobile }"
				xs="12" sm="12" md="12" lg="6"
			>

				<ResultsSection />

				<div class="home__results__to-calc">
					<button 
						@click="resultsMobileToggle" 
						class="home__results__to-calc__button"
					>
						<b-icon-chevron-left />
					</button>
				</div>

			</b-col>
		</b-row>	

	</section>
</template>

<script>
import { mapActions } from 'vuex';
import { Heading } from '@/components';
import { CalcDataSection, ResultsSection } from './partials';

export default {
	name: 'home',
	components: { CalcDataSection, Heading, ResultsSection },
	data() {
		return  {
			openResultsMobile: false
		};
	},
	methods: {
		...mapActions({
			loadCurrencies: 'loadCurrencies'
		}),
		resultsMobileToggle() {
			this.openResultsMobile = !this.openResultsMobile;
		},
	},
	created() {
		this.loadCurrencies();
	}
};
</script>

<style lang="sass" scoped>
.home
	&__is-hidden
		display: none

		@media (min-width: $mobileBreakpoint)
			display: block

	&__calc__to-results
		display: flex
		justify-content: flex-end
		position: absolute
		bottom: 230px
		right: 50px

		@media (min-width: $mobileBreakpoint)
			display: none

		&__button
			background-color: #BEBEBE
			border-radius: 20px
			border: none
			height: 40px
			width: 40px

	&__results__to-calc
		bottom: 120px
		display: flex
		justify-content: flex-start
		position: absolute

		@media (min-width: $mobileBreakpoint)
			display: none

		&__button
			background-color: #BEBEBE
			border-radius: 20px
			border: none
			height: 40px
			width: 40px
</style>
