<template>
    <section id="app" class="app">
        <b-container>
           <Home />
        </b-container>
    </section>
</template>

<script>
import { Home } from '@/views';

export default {
    name: 'App',
    components: { Home },
};
</script>

<style lang="sass" scoped>
.app
    background-color: #721F29
    border: 20px solid #444444
</style>

<style lang="sass">
@font-face 
    font-family: 'Sacramento' 
    src: url('./assets/fonts/Sacramento/Sacramento-Regular.eot') 
    src: url('./assets/fonts/Sacramento/Sacramento-Regular.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Sacramento/Sacramento-Regular.woff2') format('woff2'), url('./assets/fonts/Sacramento/Sacramento-Regular.woff') format('woff'), url('./assets/fonts/Sacramento/Sacramento-Regular.ttf') format('truetype'), url('./assets/fonts/Sacramento/Sacramento-Regular.svg#Sacramento-Regular') format('svg') 
    font-weight: normal 
    font-style: normal 
    font-display: swap 
</style>
