html
  box-sizing: border-box
  scroll-behavior: smooth
 
html,
body,
#app
	height: 100vh
	color: #BEBEBE
  scroll-behavior: smooth

#app
	display: flex
	flex-direction: column
	height: 100%

main
	flex: 1 0 auto

footer
	flex-shrink: 0

*
	&,
	&::before,
	&::after
		box-sizing: inherit

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	overflow-x: hidden

li
	list-style: none

a, a:hover
	color: initial
	text-decoration: none

svg
	vertical-align: middle

button
	-webkit-appearance: none

input[type=radio]
	appearance: none
	width: 12px
	height: 12px
	border-radius: 10px
	background-color: white
	margin-right: 7px

input[type=radio]:checked
	appearance: none
	width: 12px
	color: black
	height: 12px
	background-color: #262626

input[type=number]
	background-color: transparent
	font-family: Sacramento
	color: white
	width: 200px

input[type=number]:focus
	background-color: transparent
	box-shadow: none 
	border-color: white
	color: white

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none

input[type=range]
	background-color: #BEBEBE
	height: 2px

input[type=range]::-moz-range-progress
	background-color: #BEBEBE

input:focus
		outline: unset

::-moz-placeholder
	opacity: 1
	
input:focus
    outline: unset

::-moz-placeholder
  opacity: 1
  
